@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
--font: 'Epilogue', sans-serif; 
--light: hsl(0, 0%, 98%); 
--dark: hsl(0, 0%, 8%); 
--gray: hsl(0, 0%, 41%); 
}